body {
	margin: 0px;
	padding: 0px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	height: 500px;
}

header nav {
    height: 100px;
    background: white;
    box-shadow: none;
}

nav .brand-logo {
    height: 100px;
    left: 15%;
}

nav .brand-logo img {
    width: 52px;
}

header nav ul {
    height: 100px;
}

header nav ul a {
    color: gray;
}

.header-main-pic {
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/logo_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input-field.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
}

.input-field > #search {
    margin-top: 25px;

}

.input-container i {
    margin-top: 45px;
    margin-right: 15px;
}

footer.page-footer {
    height: 80px;
    background: gray ;
    bottom: 0;
}

.boton-home {
    bottom: 5vh;
}

/* post.html */
.post-pic {
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/logo_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* registro.html  */
.registro-header {
    height: 400px;
}

.registro-titulo {
    margin-top: 80px;
}

.registro-titulo-pic {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-image: url('../assets/img/icon_01.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.registro-titulo > #titulo-text {
    margin-bottom: 10vh;
}

/* nosotros.html */
.nosotros-pic {
    width: 100%;
    height: 300px;
    background-image: url('../assets/img/logo_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nosotros-article-pic {
    width: 100%;
    height: 300px;
    background-image: url('https://picsum.photos/200');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* contacto.html */
.contacto-header {
    height: 400px;
    margin-top: -10px;;
}

.contacto-pic {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-image: url('../assets/img/contact.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contact-background-pic {
    width: 100%;
    height: 300px;
    background-image: url('../assets/img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contacto-subtitle {
    margin-top: 10vh;
    text-shadow: 1rem;
}